version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_SUPABASE_URL: https://gwrwvonxifwbjepcisav.supabase.co
        VITE_SUPABASE_ANON_KEY: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd3cnd2b254aWZ3YmplcGNpc2F2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE3NzE1NDEsImV4cCI6MjA3NzM0NzU0MX0.3WFd0FlHGd0eQMw_rEIEZpzvICtYhURI76FPiT9Kc-k
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./certs:/etc/nginx/certs:ro

