@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('/black-and-gold-gradient-mottled-black-background_6241734.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
